* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
	
	
}
body
{
	background-size:cover;
	background-image:url(../tnrockers.github.io/22.jpg);
	background-repeat: no-repeat;
}
